.carousel-inner{
    height: 600px;
    object-fit: cover
}
.carousel-inner img{
    height: 600px;
    object-fit: cover
}
.card-post{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 1.5%;
    box-sizing: border-box;
}
.card{
    position: relative;
    margin: 35px;
    padding-bottom: 3px;

}
.card img{
    height: 300px;
}
.card-header{
    background-color: darkgrey;
}
main{
    background-color: var(--bs-dark);
}
.accordion-button{
    background-color: var(--bs-secondary);
    color: var(--bs-light);
}
.container{
    width: 100%;
    max-width: none;
    color: var(--bs-light);
}
.col{
    margin: 10px;
}
.col img{
    width: inherit;
}

