.carousel-inner{
    height: 600px;
    object-fit: cover
}
.carousel-inner img{
    height: 600px;
    object-fit: cover
}
.card-post{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 1.5%;
    box-sizing: border-box;
}
.card{
    position: relative;
    margin: 35px;
    padding-bottom: 3px;

}
.card img{
    height: 300px;
}
.card-header{
    background-color: darkgrey;
}
main{
    background-color: var(--bs-dark);
}
.accordion-button{
    background-color: var(--bs-secondary);
    color: var(--bs-light);
}
.container{
    width: 100%;
    max-width: none;
    color: var(--bs-light);
}
.col{
    margin: 10px;
}
.col img{
    width: inherit;
}
.img-photo{
    height: 500px;
    width: 100%;
    object-fit: cover
}
.img-photo img{
    height: 500px;
    width: 100%;
    object-fit: cover
}
.alert{
    display: flex;
    justify-content: center;
    font-size: 2vw;
    font-weight: bold;
}
.container:hover img{
    opacity: 0.3;
    transition: .8s opacity;
}
.container:hover img:hover{
    opacity: 1;
    transition: .8s opacity;
}
.list{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}
.list-group{
    display: flex;
    margin: 10px;
    width: 45%;
}
.header-hr{
    color: var(--bs-light);
    text-align: center;
}


